@import "src/scss/common";

.facility-picker {
  .special-input-class {
    background-color: #111111 !important;
    color: #cccccc !important;
    border: 1px solid #777777 !important;
    cursor: pointer;
    font-weight: bold !important;
  }

  .special-highlight-class {
    color: #49276a;
    font-weight: bold;
  }

  .vbst-item {
    color: #cccccc !important;
    font-size: 1.2rem !important;
    background-color: #111111 !important;
  }
}
