@import "@/scss/palette";

.ttt-purple {
  color: $ttt-purple;
}

.ttt-purple-bg {
  background-color: $ttt-purple;
}

.hide-scrollbar {
  /* Hide scrollbar for Chrome, Safari and Opera */
  *::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  * {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.toolkit-scroll::-webkit-scrollbar,
.vbt-autcomplete-list::-webkit-scrollbar {
  width: 11px;
}
.toolkit-scroll,
.vbt-autcomplete-list {
  scrollbar-width: thin;
  scrollbar-color: $light-purple $light-gray;
}
.toolkit-scroll::-webkit-scrollbar-track,
.vbt-autcomplete-list::-webkit-scrollbar-track {
  background: $light-purple;
}
.toolkit-scroll::-webkit-scrollbar-thumb,
.vbt-autcomplete-list::-webkit-scrollbar-thumb {
  background-color: $dark-purple;
  border-radius: 6px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

