/* Metrc bootstrap CSS bleeds through, this overrides the bleed */
.ttt-modal {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  margin-left: 0 !important;
}

.ttt-content {
  height: 97vh !important;
}

.ttt-dialog {
  max-width: 98vw !important;
}
