// CORS blocks this by default, not a lot can be done there
//
// https://stackoverflow.com/questions/33649761/how-do-i-load-font-awesome-using-scss-sass-in-webpack-using-relative-paths
// $fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
// $fa-font-path: "https://pro.fontawesome.com/releases/v5.10.0/webfonts";
// @import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
// @import "node_modules/@fortawesome/fontawesome-free/scss/solid";
// @import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "@/scss/snowflakes";
@import "@/scss/dark-mode";

.ttt-wrapper {
  @import "@/scss/bootstrap-theme";

  @import "node_modules/tailwindcss/dist/base";
  @import "node_modules/tailwindcss/dist/components";
  @import "node_modules/tailwindcss/dist/utilities";

  font-family: "Roboto", sans-serif;

  @import "@/scss/bootstrap-override";

  .vue-slider-rail {
    border-top: 1px solid gray !important;
  }
}

#footer {
  // height: 400px;
}

.ttt-wrapper.absolute {
  /* Force higher in page stacking context to cover modals */
  z-index: 100000;
  position: absolute;
}

.ttt-wrapper > * {
  z-index: 100000;
}

// This causes weird overlap issues with logout dropdown
// .facilities-dropdown {
//     z-index: 10000 !important;
// }

// Don't let the scroll reach the metrc toolkit button
.facilities-dropdown .dropdown-menu {
  max-height: calc(100vh - 200px) !important;
}

// Override bootstrap rule for span margins
.ttt-wrapper [class*="span"] {
  margin-left: initial;
}

.borderless-input {
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

body.ttt-styling-fix {
  // Fix Metrc table scrolling
  .k-grid {
    overflow-x: auto;
  }

  .k-grid td:not(:first-child) {
    min-width: 80px;
    max-width: 400px;
    // overflow-x: auto;
    white-space: nowrap;
  }

  .k-grid td:hover {
    white-space: normal;
  }

  .k-grid td:nth-child(2) {
    min-width: 280px;
  }
}

body.ttt-efficient-spacing {
  .well.shadow.span24 {
    padding: 0;
  }

  .k-content.k-state-active {
    padding: 0;
  }

  #body_content {
    padding: 2px;
  }

  .navbar-inner .nav.pull-right > * > a {
    font-size: 0;
    margin-top: -0.5rem;

    i {
      margin-top: 1rem;
    }
  }

  // .k-grid {
  //   th:nth-child(2),
  //   td:nth-child(2) {
  //     position: sticky;
  //     left: 0;
  //   }

  //   tr {
  //     td:nth-child(2) {
  //       background-color: white;
  //     }
  //   }

  //   tr.k-alt {
  //     td:nth-child(2) {
  //       background-color: inherit;
  //     }
  //   }
  // }

  // .k-header .k-grid-toolbar {
  //   position: sticky;
  //   left: 0;
  // }
}

@import "@/scss/page-overlay";
@import "@/scss/modal";
@import "@/scss/inline";
@import "@/scss/misc";
@import "@/scss/fonts";
